@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    color: #FFFF;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 50px;
    border-radius: 8px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    max-width: 400px;
    margin: 20px;
}
.login-container input[type="text"]{
    width: 90%;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 8px;
    align-items: center;
}

.login-container button {
    background-color: red;
    color: white;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}
.login-container button:hover {
    background-color: darkred;
}
.login-container a {
    color: #b3b3b3;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}

.login-container .remember-me input {
    margin-right: 10px;
}
.login-container .map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}
